/*Se aplica a toda la página*/
body {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

/*Header estilos*/
header {
    background-color: black;
    color: white;
    padding: 15px 0;
}

ul li {
    display: inline; /*Los coloca en una fila*/
}

/*Modifica los enlaces del nav*/
nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 6px 10px; 
    border-radius: 5px;
}

nav a:hover {
    color: purple;
    background-color: white;
}

/*Main*/
main {
    background-color: rgb(248, 149, 241);
    padding: 40px 0;
}

/*Contenedor principal*/
.container-principal {
    padding: 40px 20px;
}

/*Cuadros individuales*/
.cuadros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 30px;
}

.cuadro-index {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba (0,0,0,0.1);
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
}

/*SERVICIOS*/
/*Contenedor general*/
.container-servicios {
    background-color: #f7b3f9;
    padding: 60px 20px;
}

/*Contenedor de los cuadros*/
.cuadros-servicios {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
} 

/*Cuadro individual*/
.cuadro-servicio {
    background-color: #f2f2f2;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/*PORTAFOLIO*/
/*Contenedor general*/
.container-portafolio {
    display: flex;
    justify-content: center;
}

/*Contenedor de los cuadros*/
.cuadros-portafolio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cuadro-portafolio {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}

/*NOSOTROS*/
/*Contenedor general*/
.container-nosotros {
    background-color: #f7b3f9;
    padding: auto auto;
}

/*Contenedor de los cuadros*/
.cuadros-nosotros {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
} 

/*Cuadro individual*/
.cuadro-nosotros {
    background-color: #f2f2f2;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}